doctype html
html
  head
    title= 'Bias Analysis'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:200,400,500')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/react-vis-style.css')
  body
    div#app
    script(src='/js/app.js')