html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #5f5f5f; }

#app {
  height: 100%; }

.light {
  font-weight: 200; }

.container {
  max-width: 1150px; }

.full-height {
  min-height: 100%; }

.center-aligned {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.MuiInputBase-input {
  line-height: 2 !important; }

.rv-xy-plot__inner {
  overflow: visible; }

.rv-discrete-color-legend.horizontal {
  position: absolute;
  top: 25px;
  right: 52px; }

.rv-xy-plot__axis__tick__text {
  text-anchor: end; }

.axis text {
  font: 10px sans-serif; }

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

/*# sourceMappingURL=app.css.map*/