html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #5f5f5f;
}

#app {
  height: 100%;
}

.light {
  font-weight: 200;
}

.container {
  max-width: 1150px;
}

.full-height {
  min-height: 100%;
}

.center-aligned {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// Custom Styles
.MuiInputBase-input {
  line-height: 2 !important;
}

// react vis styles overwrite
.rv-xy-plot__inner {
  overflow: visible;
}
.rv-discrete-color-legend.horizontal {
  position: absolute;
  top: 25px;
  right: 52px;
}
.rv-xy-plot__axis__tick__text {
  text-anchor: end;
}

// Form fields
.copyDataSelect > div {
  display: inline-block;
  min-width: 250px;
  margin-top: 16px;
}

// heatmap

.colorBarWrapper {
  display: inline-block;
  position: relative;
  top: 20px;
  margin-bottom: 40px;
}
.colorBarWrapper > div {
  margin: auto;
  height: 10px;
  background: #000;
  background-image: linear-gradient(to right, blue, white, red);
}

.colorBarWrapper .rangeValues {
  font-size: 12px;
  position: absolute;
  left: 0;
  top: -15px;
}

.colorBarWrapper .rangeValues.second {
  left: 25%;
}
.colorBarWrapper .rangeValues.third {
  left: 50%;
}
.colorBarWrapper .rangeValues.fourth {
  left: 75%;
}
.colorBarWrapper .rangeValues.fifth {
  left: auto;
  right: 0;
}

.heatMapLabel {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  width: 200px;
  overflow: hidden;
}

.leftLabels .heatMapLabel {
  position: absolute;
  right: 110%;
  height: 30px;
  text-align: right;
}

.bottomLabels {
  position: relative;
  overflow: visible;
  min-height: 200px;
}

.bottomLabels .heatMapLabel {
  position: absolute;
  transform: rotate(270deg);
  top: 90px;
  text-align: right;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  border-radius: 5px;
  background-color: #5385af;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  min-width: 30px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
